<!DOCTYPE html>

<h1>Registrasi</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@user) do |h|%>

      <%= render 'shared/errors', object: h.object %>

      <%= h.label :nama_lengkap, class: "form-control" %>
      <%= h.text_field :nama, class: "form-control" %>

      <%= h.label :email, class: "form-control" %>
      <%= h.text_field :email, class: "form-control" %>

      <%= h.label :password, class: "form-control" %>
      <%= h.text_field :password, class: "form-control" %>

      <%= h.label :konfirmasi_password, class: "form-control" %>
      <%= h.text_field :confirmp, class: "form-control" %>

      <%= h.submit "daftar", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
